<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0", maximum-scale="1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/pinecone.png') }}"/>
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="banner" style="width:100%">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Teal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('about')}}">About Us <span class="sr-only"></span></a>
              </li><li class="nav-item active">
                <a class="nav-link" href="{{url_for('instructors')}}">Meet the Team <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('courses')}}">Courses <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('contact')}}">Contact <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('faq')}}">FAQs <span class="sr-only"></span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{url_for('home')}}">Home</a>
                  <a class="dropdown-item" href="{{url_for('about')}}">About us</a>
                  <a class="dropdown-item" href="{{url_for('courses')}}">Course</a>
                  <a class="dropdown-item" href="{{url_for('instructors')}}">Meet the Team</a>
                  <a class="dropdown-item" href="{{url_for('faq')}}">FAQs</a>
                  <a class="dropdown-item" href="{{url_for('contact')}}">Contact</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
{% block body_content %}
{% endblock %}
<footer>
        <hr>
        <div>
            <label class="newsletter" for="newsletter"><b>Subscribe to our monthly newsletter</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
        <div>
            <p>Sign into your account here: <a href ="{{url_for('login')}}">Login</a></p>
        </div>
        <br>
       <br>
        <div class="bottom-nav">
            <ul>
                <li><a href ="{{url_for('faq')}}"></a>FAQs</li>
                <li><a href ="{{url_for('contact')}}">Contact Us</li>
                <li><a href="{{url_for('account')}}">My Account</a></li>
            </ul>
        </div>
        <div>
            <a href="https://twitter.com/?lang=en" class="twitter">Twitter</a>
            <link rel="twitter icon" href="{{ url_for('static', filename='images/twitter.png') }}"/>
            <a href="#" class="instagram"></a>
        </div>
    <p class="copyright">&copy; Teal Box, 2022</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>