h1 {
    font-family: 'Titillium Web', sans-serif;
    background-color: #F5CAC3;
    font-size: 100px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: F7EDE2;
}

li {
    display: inline;

}

a {
    padding: 35px;
}

li a {
    text-align: center;
}